*,*::before,*::after {
  box-sizing: border-box;
}

button,button:hover,button:active, button:visited {
  outline: 0 !important;
  border: none !important;
}

html,body {
  padding: 0px;
  margin: 0px;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Circular Std",Helvetica,Arial,sans-serif !important;
  background-color: #FAFAFA !important;
  color: #1B2733 !important;
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/circular-black-italic.otf") format("opentype");
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/circular-black.otf") format("opentype");
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/circular-bold-italic.otf") format("opentype");
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/circular-bold.otf") format("opentype");
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/circular-book-italic.otf") format("opentype");
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/circular-book.otf") format("opentype");
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/circular-medium-italic.otf") format("opentype");
}

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/circular-medium.otf") format("opentype");
}

.navbar-default {
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.navbar-brand {
  height: auto !important;
  border-right: 1px solid #FFF;
  padding: 1em 2em !important;
}

.navbar-brand > img {
  max-height: 24px;
}

.navbar-default .navbar-text {
  color: #FFF !important;
  text-shadow: none !important;
  font-size: 19px;
  line-height: 24px;
  margin: 18px 15px;
}

.main {
  margin-top: 50px;
  margin-bottom: 100px;
}

.header {
  width: 87.5%;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: baseline;
  align-items: baseline;
  justify-content: space-between;
}

.header .header__text:first-child {
  font-size: 19px;
  line-height: 40px;
}

.header .header__text:last-child {
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  color: #47525D;
}

.header__text_bold {
  font-weight: 700;
}

.card {
  border: 2px solid #E6E8EB;
  border-radius: 2px;
  padding: 5%;
  background: #FFF;
  width: 87.5%;
  margin: auto;
}

.ct-grid {
  /*stroke: #1B2733;*/
  stroke-width: 2px;
  stroke-dasharray: 0;
}

.ct-series-a .ct-bar {
  stroke: orange;
  stroke-width: 15px;
}

.ct-label {
  fill: #1B2733;
  color: #1B2733;
  font-size: 0.9rem;
}

.test .test__number {
  float: left;
  width: 10%;
  font-size: 17px;
  color: #36B37E;
  line-height: 22px;
}

.test .test__number::before {
  content: '2 \2192';
}

.test .test__content {
  float: right;
  width: 90%;
}

.test__number,.test__text {
  margin: 10px 0 50px 0;
}

.test__text {
  font-size: 19px;
  line-height: 29px;
  color: #47525D;
}

.test__text_light {
  color: #E6E8EB;
}

.test__answer {
  padding-bottom: 50px;
}

.form-label {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.form-label__input {
  position: absolute;
  z-index: -1;
  opacity: 0
}

.form-label__content-wrapper {
  width: 100%;
  border: 4px solid #E6E8EB;;
  position: relative;
  clear: left;
  background-color: #FAFAFA;
  transition: all 0.5s ease-in-out;
}

.form-label__content-wrapper div:last-child {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background: #E6E8EB;
  transition: all 0.5s ease-in-out;
}

.form-label__content-wrapper div:last-child::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid #FFF;
  position: absolute;
  top: 10%;
  left: 21%;
}

.form-label__key {
  float: left;
  padding: 1px 5px 0 5px;
  border: 1px solid #E6E8EB;
  border-radius: 2px;
  margin: 13px;
  background: #FFF;
  line-height: 20px;
}

.form-label__value {
  margin: 10px;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
}

.form-label__button {
  margin: 40px 0;
  width: 100%;
  background-image: none !important;
  box-shadow: none !important;
  padding: 16px !important;
  text-shadow: none !important;
  border-radius: 4px !important;
}

.form-label_selected .form-label__input:checked ~ .form-label__content-wrapper {
  border-color: #36B37E;
}

.form-label_selected .form-label__input:checked ~ .form-label__content-wrapper div:last-child {
  background: #36B37E;
}

.button {
  background-color: #F0F0F0 !important;
  color: #7B8994 !important;
}

.brand-bg {
  background-color: #0064E6 !important;
  color: #FFF !important;
}

.brand-bg-lite {
  background-color: #0064E6 !important;
  color: #FFF !important;
}

@media only screen and (max-width: 765px) {
    .navbar-default .navbar-text {
      display: inline-block;
      font-size: 16px;
    }
}

@media only screen and (max-width: 425px) {
    .navbar-default .navbar-text {
      font-size: 14px;
    }
}

@media only screen and (max-width: 380px) {
    .navbar-default .navbar-text {
      font-size: 10px;
    }
}

@media only screen and (max-width: 330px) {
    .navbar-default .navbar-text {
      font-size: 8px;
    }
}